.newsfeed-content {
  width: 100%;
  overflow-x: scroll;
}

.newsfeed-header {
  color: white;
  font-size: clamp(4em, 2vw, 6em);
  font-weight: 400;
  margin: 0px;
  padding-left: 25px;
  padding-top: 25px;
}
